*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: auto;
    background-color: $bgComic;
}

.wrapper{
    margin: 0 175px;
}

.flex-container{
    display: flex;
}

h1{
    font-family: $primaryFont;
    color: white;
}

h2{
    font-family: $secundaryFont;
}

h3{
    color: $bgComicBoxes;
    font-family: $primaryFont;
    font-weight: 400;
    font-size: 2.5rem;
}

h4{
    font-family: $secundaryFont;
    font-weight: 400;
    font-size: 0.8rem;
}

p{
    font-family: $secundaryFont;
}

li{
    font-family: $secundaryFont;
    font-weight: 500;
}

button{
    color: white;
}