#favorites-container-cc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#favorites-main {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main{
    padding: 50px 0;
    background-color: rgb(241, 241, 241);
    .pagina{
        margin: 3px;
    }

    .pagination-items{
        padding: 15px;
        border-radius: 2px;
        border: 2px solid black;
        font-family: $secundaryFont;
        font-weight: 600;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .hover{
        background-color: $bgGray;
    }

    .posPaginationBar{
        background-color: $bgGray;
    }

    #presentation-character-banner {
        background-color: $bgGray;
        align-items: center;
    }

    #presentation-character-banner img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    #presentation-character-banner div {
        margin: 50px 0 50px 50px;
        flex-direction: column;
        align-items: center;
    }

    #presentation-character-banner div h2 {
        margin-top: 15px;
    }

    #presentation-character-banner p {
        margin: auto;
        width: 50%;
        font-weight: 500;
    }

    #aditional-information-banner span{
        font-family: $secundaryFont;
        font-weight: 200;
    }

    #favorites-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 50px;
    }

    #goal-container{
        position: relative;
        background: rgb(232,62,59);
        background: linear-gradient(227deg, rgba(232,62,59,1) 0%, rgba(91,2,0,1) 54%);
        height: 45vh;
    }

    #goal-container .wrapper {
        flex-direction: column;
        justify-content: center;
    }

    #goal-container h3 {
        color: white;
    }
    
    #goal-container p {
        width: 720px;
        color: white;
    }


    #iron-man-bg {
        position: absolute;
        margin-right: 150px;
        width: 100%;
        min-width: 500px;
        max-width: 500px;
        height: 95%;
        bottom: 0;
        right: 0;
    }

    #search-section{
        margin-top: 50px;
    }

    #formulario{
        height: 35px;
    }

    #search-section input {
        border: 1.5px solid $colorGray;
        border-radius: 3px;
        width: 500px;
        padding: 12px 0 12px 15px;
        font-size: 13px;
        outline: none;
        font-family: $secundaryFont;
        font-weight: 400;
    }

    #search-section input::placeholder{
        font-family: $secundaryFont;
        font-weight: 400;
    }
    
    #search-section button{
        @include buttonsStyles()
    }

    #cards-container {
        height: auto;
    }

    #title-cards-section{
        padding-top: 50px;
    }

    .cards-items {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 1em;
    }

    #results-container {
        margin: 25px 0;
    }

    #container-cards-characters figure {
        width: 100%;
        box-shadow: 2px 2px 17px -8px rgba(0,0,0,0.82);
        background-color: white;
        border-radius: 5px;
        height: 180px;
        margin: 10px;
    }

    #container-cards-characters figure figcaption {
        font-family: $secundaryFont;
        font-weight: 600;
        width: 75%;
        margin-bottom: 10px;
        cursor: pointer;
    }

    #container-cards-characters div.flex-container{
        margin: 0 25px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    #container-cards-characters button {
        @include buttonsStyles()
    }

    #container-cards-characters img {
        align-items: center;
        margin: auto 0 auto 15px;
        width: 150px;
        border-radius: 50%;
        height: 150px;
    }

    #bar-pagination{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 75px;
    }

    .hidden-element {
        display: none;
    }

    .pagination-item span {
        color: white;
        font-family: $secundaryFont;
        font-weight: 500;
    }

    .btn-pagination {
        border: 2px;
        background-color: black;
        padding: 18px;
        margin: 3px;
    }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  

.scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }

  @keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }

  
.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: $primaryColor;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}



