// Fuentes de tipografías
$primaryFont: 'Bebas Neue', cursive;
$secundaryFont: 'Poppins', sans-serif;

// Colores
$primaryColor: #E83E3B;
$bgComic: #DDC090;
$bgComicBoxes: #414366;
$bgGray: #e2e2e2;
$colorGray: #c9c9c9;
$correctState: #16EF2C;
$incorrectState: #db1714;
$marvelColor: #CB3E37;