// Fuentes de tipografías
$primaryFont: 'Bebas Neue', cursive;
$secundaryFont: 'Poppins', sans-serif;

// Colores
$primaryColor: #E83E3B;
$bgGray: #F3F3F3;
$bgRedWine: #5B0200;
$colorGray: #737373;
$correctState: #16EF2C;
$incorrectState: #db1714;